branch: master
ci: false
verifyConditions:
- "@semantic-release/changelog"
- "@semantic-release/git"
- "@semantic-release/github"
analyzeCommits:
- "@semantic-release/commit-analyzer"
generateNotes:
  path: "@semantic-release/release-notes-generator"
  preset: angular
  parserOpts:
    noteKeywords:
    - BREAKING CHANGE
    - BREAKING CHANGES
    - BREAKING
  writerOpts:
    commitsSort:
      - scope
      - subject
  presetConfig:
    types:
      - type: chore
        section: Chores
      - type: build
        section: Build Changes
      - type: docs
        section: Documentation Changes
      - type: feat
        section: Features
      - type: fix
        section: Bug Fixes
      - type: perf
        section: Performance Improvments
      - type: refactor
        section: Refactors
      - type: revert
        section: Reverted
      - type: style
        section: Styles Changes
      - type: test
        section: Test Suite Changes
prepare:
- path: "@semantic-release/changelog"
  changelogFile: CHANGELOG.md
- path: "@semantic-release/exec"
  cmd: echo "v${nextRelease.version}" > Version
- path: "@semantic-release/exec"
  cmd: 'echo "Creating Version: $(cat Version)"'
- path: "@semantic-release/git"
  assets:
  - CHANGELOG.md
  - Version
  message: |-
    build(release): v${nextRelease.version} [skip ci]

    ${nextRelease.notes}
publish:
- "@semantic-release/github"